<!-- <a routerLink="/product/1">Televison</a> -->
<!-- <a routerLink="/product/{{product.productID}}">{{product.productName}}</a> -->
<!-- <a [routerLink]="['/product', product.productID]">{{product.productName}} </a> -->


<!-- passing multiple router params -->
<!-- <a routerLink="/product/electronics">Televison</a> -->
<!-- <a routerLink="/product/{{product.productID}}/{{product.category}}">{{product.productName}}</a> -->
<!-- <a [routerLink]="['/product', product.productID, product.category]">{{product.productName}} </a> -->

<button (click)="goProduct(product)">Product Details</button>

<button (click)="Checkout()">Checkout</button>